*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ronaldo1{
    background-image: url(ronaldo1.jpg) , radial-gradient(
        #00416a
        , 
        #e4e5e6);
    height: 120vh;
    background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-blend-mode: luminosity;
    
}
.ronaldo2{
    background-image: url(ronaldo2.jpg) , linear-gradient(#D4145A , #FBB03B);
    height: 150vh;
    width: 100%;
    background-size: cover;
   background-attachment: fixed;
   background-position: center;
    background-blend-mode: multiply;
}
.ronaldo3{
    background-image: url(ronaldo3.jpg) ,linear-gradient(#009245 , #FCEE21) ;
    height: 150vh;
    /* width: 100%; */
    background-size: cover;
   background-attachment: fixed;
background-blend-mode: multiply;
   background-position: center;
}

.ronaldo4{
    background-image: url(ronaldo4.jpg) , linear-gradient(#EE9CA7 , #FFDDE1);
    height: 150vh;
    /* width: 100%; */
    background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-blend-mode: multiply;
    
}
.ronaldo5{
    background-image: url(ronaldo5.jpg) , linear-gradient(#614385 , #516395);
    height: 150vh;
    /* width: 100%; */
    background-size: cover;
   background-attachment: fixed;
   background-position: center;
    background-blend-mode: multiply;
}

.ronaldo6{
    background-image: url(ronaldo6.jpg) , linear-gradient(#02AABD , #00CDAC);
    height: 150vh;
    /* width: 100%; */
    background-size: cover;
   background-attachment: fixed;
   /* position: relative; */
    background-position: center;
    background-blend-mode: luminosity;
}

.ronaldo7{
    background-image: url(ronaldo8.jpg);
    height: 150vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: ;
}
.ronaldo8{
    background-image: url(ronaldo9.jpg);
    height: 150vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: ;   
}

.ronaldo9{
    background-image: url();
    height: 150vh;
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    background-blend-mode: ;   
}

.ronaldo1 h1{
    color: white;
    margin-left: 400px;
    padding-top: 200px;
    font-size: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ronaldo6 h1{
    color: white;
    margin-left: 450px;
    padding-top: 200px;
    font-size: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#span{
   background-image: url(cristiano-ronaldo-4757x3171-9685.jpg);
   background-size: contain;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
#span1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
   
}
#goat{
    background: linear-gradient(rgb(75, 22, 161), white);
    background-blend-mode: multiply;
}